{
  "author" : {
  "name" : "front"
  },
  "net" : {
    "port" : 7654,
    "host" : "localhost"
  },
  "servers" : {
    "localhost" : {
      "address"      : "localhost",
      "port"         : 6667,
      "nick"         : "darkness",
      "channels"     : [ "#darkness" ],
      "userName"     : "darkness",
      "realName"     : "darkness",
      "debug"        : false,
      "showErrors"   : false,
      "messageSplit" : 512
    }
  }
}
