{
  "author" : {
    "name" : "master"
  },
  "redis" : {
    "host" : "localhost",
    "port" : 6379
  },
  "net" : {
    "host" : "localhost",
    "port" : 7654
  },
  "http" : {
    "port" : 5000,
    "options" : {
    "basicAuth" : false,
    "pub" : "/../../../pub/"
  },
  "index" : 0
}
